html {
  line-height: normal;
}
body {
  margin: 0;
}

.mark-title {
  font-size: 22px;
  font-weight: 600;
  padding-left: 14px;
  position: relative;
  box-sizing: border-box;
  &::before {
    position: absolute;
    left: 0;
    content: '';
    width: 4px;
    height: 100%;
    background-color: #1890ff;
  }
}

.required {
  position: relative;
  &::before {
    content: '*';
    position: absolute;
    left: -10px;
    top: -2px;
    color: red;
  }
}
